#!/bin/bash -xe

# Get the latest CloudFormation package
yum update -y aws-cfn-bootstrap

# Get the latest cli package
yum update -y aws-cli

# Install ssm agent to allow SSH into the server using session manager
yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm

# Start cfn-init
/opt/aws/bin/cfn-init -v --stack ${stack_name} --resource LaunchConfig --region ${aws_region}

# Install and start cloudwatch logs agent
yum install -y awslogs
systemctl start awslogsd
systemctl enable awslogsd.service

# Install apache2
yum install -y apache2
systemctl start apache2
systemctl enable apache2

# Setup the build folder contents in apache html folder
wget https://${bucket_name}.s3.amazonaws.com/app-${app_version}.zip -o build.zip
unzip ./build.zip /var/www/html
chmod -R 2775 /var/www/html

# Log application being deployed
echo 'Updating version of stack ${app_version}'

# All done so signal success
/opt/aws/bin/cfn-signal -e $? --stack ${stack_name} --resource WebServerGroup --region ${aws_region}
